/* content of the page */

.dashboard-container {
    width: 100%;
    text-align: left; 
    color: black;
    box-sizing: border-box;
    padding-left: 15rem;
    margin-top: 10rem;
}

.dashboard-container h2 {
    margin: 0.5rem;
}

.dashboard-container p {
    margin: 0.5rem;
    font-size: 1rem;
    color: black;
}

.dashboard-link-container {
    margin-bottom: 2rem !important;
}

.dashboard-link-container a {
    padding-left: 0.5rem;
    color: #16423C;
    text-decoration: underline;
    font-size: 1rem;
}

.dashboard-link-container a:hover {
    text-decoration: underline;
    color: #6A9C89;  
}


