/* menu */

.dashboard-menu {
    background-color: #16423C;
    box-sizing: border-box;
    top: 0; 
    left: 0; 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 15px;
    z-index: 1000; 
}
  
.dashboard-logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 100px;
}

.dashboard-links {
    display: flex;
    gap: 20px; 
    flex-grow: 1;
}
  
.dashboard-link {
    padding: 15px 20px;
    background-color: #E9EFEC;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
  
.dashboard-link:hover {
    background-color: #6A9C89;
    color: white;
}

.dashboard-link-right {
    margin-left: auto;
}

.help {
    background-color: #E9EFEC; 
    color: black;
    /*position:relative;
    align-items: right;
    justify-content: right;*/
}

.help:hover {
    background-color: #6A9C89; 
    color: white
}

.logout {
    background-color: #E9EFEC; 
    color: black;
    margin-right: 30px;
}

.logout:hover {
    background-color: #6A9C89; 
    color: white
}

/* selected course */

.course-section {
    padding: 30px !important;
    margin-left: 20px !important;
    color: black; 
    text-align: left; 
    position: relative;
}

.course-section p {
    margin: 0;
    font-size: 0.9rem;
}

.course-info {
    font-size: 1rem; 
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

.change-course-button {
    padding: auto;
    background-color: #C4DAD2;
    color: black !important;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.change-course-button:hover {
    background-color: #6A9C89;
}

/* content of the page */

.content-container {
    margin-left: 80px;
    margin-right: 80px;
    padding: 0;
    /*padding-left: 60px;
    padding-top: 0;*/
    justify-content: left;
    align-items: left;
    position: relative;
}

.info-section {
    justify-content: left;
    align-items: left;
    text-align: left;
    color: black;
    margin-top: 0;
}

.info-section h3 {
    margin: 20px 0 5px 0;
}

.info-section p {
    margin: 0 0 6px 0;
    font-size: 1rem;
    color: black;
}
  
.info-section a {
    color: #16423C;
    text-decoration: none;
    font-size: 1rem;
}

.info-section a:hover {
    text-decoration: underline;
    color: #6A9C89;  
}


