/* sentapplications.css */

.received-invitations-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    color: black;
    flex: 1;
    margin-top: 6rem;
    margin-left: 15rem;
    margin-right: 3rem;
    padding-bottom: 3rem;
}

.received-invitations-form h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
}


/* card */

.received-invitation-card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1rem !important; 
    margin-top: 1rem !important;
    margin: 0 auto;
    width: 90%;
}

.received-invitation-card {
    color: black;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(22, 66, 60, 0.6); /* Dimmer and thinner smaragd green */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 1rem;
    border-radius: 10px;
    margin: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100rem !important;
    height: auto;
}

/* team section */

.received-invitation-card-header {
    display: flex;
    align-items: flex-start;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 1.5rem;
    padding: 0.8rem;
}

.received-invitation-group-icon {
    align-self: flex-start !important;
    font-size: 1.5rem !important;
    padding: 0px !important;
    margin: 0.5rem;
    margin-top: 0 !important;
}

.received-invitation-team-info {
    display: flex;
    flex-direction: column; 
    width: 90%;
}

.received-invitation-team-name {
    margin-left: 0.5rem;
    text-align: start;
    font-size: 1rem;
    width: 90%;
}

/* topic */

.received-invitation-topic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.received-invitation-topic {
    padding: 1rem;
    align-self: center;
    font-weight: bold;
    font-size: 1rem;
}

/* description */

.received-invitation-card-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    width: auto;
    height: auto;
}

.received-invitation-description {
    padding: 1rem;
    padding-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    text-align: left;
    font-size: 1rem;
    width: auto;
    height: auto;
}

/* show more or less buttons */

.received-invitation-card-read-more {
    background-color: #E9EFEC;
    padding: auto;
    margin: 0;
    width: auto;
    white-space: nowrap;
    height: auto;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 1rem;
    color: black;
}

.received-invitation-card-read-more:hover {
    background-color: #C4DAD2; 
    color: white
}


/* applied info */

.received-invitation-info-container {
    margin: 1rem;
}

.received-invitation-info-header {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.received-invitation-info-container p{
    margin: 0.1rem;
}

/* buttons */

.received-invitation-action-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center; 
    margin-top: 10px;
    width: auto;
    height: auto;
}

.received-invitation-apply-button {
    background-color: #C4DAD2;
    padding: auto;
    width: auto;
    height: auto;
    align-self: left;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    display: inline-block;
}

.rreceived-invitation-reject-button {
    background-color: rgb(146, 145, 145);
    padding: auto;
    width: auto;
    height: auto;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    display: inline-block;
}

.received-invitation-apply-button:hover {
    background-color: #6A9C89; 
    color: white
}

.received-invitation-reject-button:hover {
    background-color: rgb(179, 176, 176);
    color: white
}
