.project-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    color: black;
    flex: 1;
    margin-top: 8rem !important;
    margin-left: 15rem;
    margin-right: 3rem;
    padding-bottom: 3rem !important;
}

.project-search-form h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
}

/* search */

.project-search {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    margin-bottom: 2rem;
}

.project-search label {
    font-weight: bold;
    color: black;
    font-size: 1rem;
    margin: 1rem;
}

.input {
    padding: 0.6rem;
    background-color: white; 
    border: 1px solid #C4DAD2; 
    border-radius: 10px; 
    font-size: 1rem; 
    color: black;
    flex: 1;  
    width: 30rem;

}

.input::placeholder {
    color: #888; 
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1rem; 
    opacity: 1;
}

/* no projects yet */

.no-projects {
    margin-top: 10rem;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}