/* container and form */

.project-proposal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-left: 12rem;
    padding-bottom: 3rem !important;
}

.project-proposal-form {
    display: flex;
    flex-direction: column; 
    width: 40rem;
    height: auto; 
    background-color: #fff; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    padding: 1rem;
}

/* labels and inputs */

.project-proposal-form h2 {
    font-size: 2rem;
    color: black; 
    padding: 0.5rem;
    margin-top: 0;
}

.form-group-proposal {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group-proposal label {
    width: auto;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 2rem;
}

.required {
    color: black; 
    font-weight: bold;
    font-size: 0.9rem; 
}

.team-name, .project-title, .project-description, .project-teammate {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid #C4DAD2;
    background-color: #E9EFEC; 
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    flex: 1;
}

/* buttons */

.create-button-container, .invite-button-container, .cancel-button-container {
    display: flex;
    justify-content: center; 
}

.invite-teammate-button {
    padding: auto !important;
    font-size: 0.9rem !important;
    margin: 0.5rem !important;
    cursor: pointer;
    background-color: #E9EFEC !important;
    border: none;
    border-radius: 5px;
    color: black;
}

.cancel-teammate-button {
    padding: auto !important;
    font-size: 0.9rem !important;
    margin: 0.5rem !important;
    align-self: center !important;
    cursor: pointer;
    background-color: #E9EFEC !important;
    border: none;
    border-radius: 5px;
    color: black;
}

.project-proposal-form button {
    width: auto;
    padding: auto;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: #C4DAD2;
    border: none;
    border-radius: 5px;
    color: black;
}

.invite-teammate-button:hover, .cancel-teammate-button:hover {
    background-color: #C4DAD2 !important;
    color: white;
}

.project-proposal-form button:hover {
    background-color: #6A9C89;
    color: white;
}

/* teammates section */

.teammates-section {
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.teammates-section h3 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.2rem;
    color: black; 
    text-align: left;
}

.teammates-section p {  
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    color: black; 
    text-align: left;
}

.project-teammate {
    padding: auto;
    margin-top: 0;
    width: auto;
    position: relative;
}

/* dropdown (searching users) */

.dropdown {
    list-style: none;
    width: 90% !important;
    margin-left: 2rem;
    padding: auto;
    border: 1px solid #C4DAD2;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    max-height: 7.5rem !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-item {
    padding: auto;
    cursor: pointer;
    background-color: #C4DAD2;
    border-bottom: 1px solid #ddd;
    color: black;
    font-size: 0.8rem;
    box-sizing: border-box; 
}

.dropdown-item:hover {
    background-color: #6A9C89;
    color: #fff;
}

/* list of teammates to be invited*/

.confirmed-teammates-section {
    color: black;
    margin-left: 1rem;
    padding: 0.5rem;
}

.confirmed-teammates-section p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    text-align: left;
}

.confirmed-teammates-section ul {
    list-style-type:disc;  
    margin: 0;
    margin-left: 1rem !important;
    text-align: left;          
}

.confirmed-teammates-section li {
    font-size: 1rem;
}

/* errors */

.error {
    border: 2px solid red; 
    color: black;
}

.error-text {
    color: red; 
    font-size: 0.875rem; 
    margin-top: 0.1rem; 
}