.sent-invitations-container {
    display: flex;
    flex-direction: column;
    margin: 6rem 2rem 2rem 14rem;
}

.sent-invitations-list {
    color: black;
}

.sent-invitation-card {
    color: black;
    height: fit-content;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.rejection-message {
    color: black;
}