.sent-invitations-container {
    display: flex;
    flex-direction: column;
    margin: 6rem 2rem 2rem 14rem;
}

.sent-invitations-list {
    color: black;
}

.sent-invitation-card {
    color: black;
    height: fit-content;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem 0 1rem 0;
}

.rejection-message {
    color: black;
}