body, html {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #E9EFEC;
}

#root {
  max-width: auto; /*1280px;*/
  max-height: auto;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.App {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* App logo and header */ 

.App {
  min-height: 100vh; 
  background-color: #E9EFEC; 
  padding-top: 2rem;
}

.App-logo {
  margin: auto;
  justify-content: center;
  display: flex;
}

.App-logo img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  justify-content: center;
}

.App-header-container {
  display: block;
}

.App-header {
  font-size: calc(3px + 2vmin);
  color: black;
  justify-content: center;
  margin: 1rem;
  text-align: center;
}

.App-header-container-flex {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 1rem;
}

.App-logo-flex {
  margin: 0;
  position: static;
}

.App-logo-flex img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

/* Login and Register links */

nav {
  position: fixed;
  padding: 2rem;
  top: 0; 
  right:0;  
}

nav a {
  margin: 0.5rem;
  color: #16423C;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: #6A9C89;
}

.App-link {
  color: #16423C;
  text-decoration: none;
  font-size: 1.5rem;
}

.App-link:hover {
  text-decoration: underline;
}

/* App intro and content */

.App-intro {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: black;
}

.App-footer {
  color: black;
  padding: 1rem;
}

.App-buttons button {
  padding: auto;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  background-color: #C4DAD2;
  border: none;
  border-radius: 5px;
  color: #16423C;
}

.App-buttons button:hover {
  background-color: #6A9C89;
}
